body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.first-page {
  background-color: #541554;
}

.nav-bar {
  display: flex;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  
}
.first-page-para h1{
  margin: 0;
}
.nav-bar ul {
  display: flex;
  list-style: none;
  align-items: center;
  color: white;
}

.nav-bar img {
  max-width: 100px;
  height: auto;
}

.nav-bar li {
  margin: 0 10px;
}
.gap{
  display: flex;
  align-items: center;
  margin-left:200px
}
.button_div{
  display: flex;
}
.button_div button {
  background-color: transparent;
  color: white;
  border-color: white;
  padding: 10px 20px;
  border-radius: 5px;

  
}
.nav-bar-2{
  justify-content: space-between;
}

#button_2 {
  background-color: #FFFF;
  color: #000;
}

.first-page-para {
  font-size: 30px;
  max-width: 600px;
  margin: 0;
}

.first-page-para {
  color: white;
  max-width: 550PX;
}

#first-page-para3 {
  color: white;
  font-size: 20px;
  max-width: 550px;
  
}
.container{
  display: flex;
  margin: 0 auto;
  max-width: 60%;
}
.container video{
  max-width: 100%;
  align-items: center;
  justify-content: center;
}
#first-page-button2 {
  padding: 10px 41px;
  font-size: 15px;
  background-color: #4285f4;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#first-page-button1 {
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  max-width: 100%;
}


.second-page {
  background-color: #f4ede4;
  padding-top: 5px;
}

#second-para1 {
  color: black;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.container2 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
  gap: 4%;
}

.video-container2 {
  flex: 1;
  max-width: 100%;
  height: auto;
}

.video-container2 video {
  max-width: 100%;
  min-width: auto;
  height: auto;
  width: 600px;
  height: 400px;

}

.text-container {
  flex: 1;
}

.text-container p {
  font-size: 16px;
  color: #333;
}

#move {
  font-size: 50px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca !important;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#third-page-text1 {
  font-size: 45px;
  font-weight: bold;
}

#third-page-text2 {
  font-size: 18px;
  font-weight: bold;
}

#third-page-button1 {
  padding: 20px 30px;
  font-size: 15px;
  background-color: #541554;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #541554;
}

#third-page-button2 {
  padding: 20px 30px;
  font-size: 15px;
  color: #541554;
  border-radius: 5px;
  border: 1px solid #541554;
  background-color: white;
}

.container3 {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 2%;
}

.number-persentage {
  font-size: 60px;
  font-weight: bold;
  color: #541554;
}

#many {
  font-style: italic;
  font-size: 30px;
}


.page-five {
  background-color: #f4ede4;
  padding-bottom: 70px;
 
}

#page-five-head {
  font-size: 40px;
  font-weight: bold;
  padding-top: 40px;
  
}

.CONTAINER4 {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1400px;
  margin: 0 auto;
}
.container6-items{
  font-size: 12px;
}
.content {
  font-size: 17px;
  font-weight: bold;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  background-color: white;
  justify-self: center;
  width: min-content;
  padding: 20px 20px;
  margin-top: 30px;
  cursor: pointer;
}
.hvr-grow-shadow span{
   font-weight: bold;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.page-six {
  background-color: #541554;
  padding-bottom: 70px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  
}
#weighted{
  text-align: center;
}
#six-page-head {
  font-size: 50px;
  color: white;
  font-weight: bold;
  padding-top: 80PX;
}

#six-page-button1 {
  padding: 20px 40px;
  margin-top: 10px;
  font-size: 15px;
  background-color: white;
  border-radius: 5px;
  color: #541554;
  border-style: none;
}

#six-page-button2 {
  padding: 20px 40px;
  font-size: 15px;
  background-color: transparent;
  border-radius: 5px;
  color: white;
  border:1px solid black;
}

#svg-image img{
  height: 50px;
  width: 50px;
}
.container5{
  display: grid;
  grid-auto-flow: column;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 2%;
}  

hr{
  width: 70%;
}
.footer-part ul {
 display:flex;
 list-style: none;
 align-items: center;
 gap: 20px;
 font-size: 15px;
 font-weight: bold;
}
.change-region{
  display: flex;
  gap: 4px;
}
footer{
  margin-bottom: 2000px;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
}
.last-nav{
  display: flex;
  align-items: center;
  gap: 10px;
  
}
@media screen and (max-width: 852px) {
    .nav-bar li{
      display: none;
    }
    .nav-bar img{
      position: absolute;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
    body{
      margin: 0 auto;
    }
    .container {
      display: grid;
      grid-auto-flow: row;
      max-width: 100%;
    }  
    .container button{
      padding: 20px 60px;
    }
    .first-page-para{
      max-width: 100%;
      font-size: 20px;
    }
    .video-container{
      max-width: 100%;
    }
    .image-container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 2px  ;
      row-gap: 10px;
    }  
    .image-container img{
      max-width: 100%;

    } 
    .container2{
      display: grid;
    }
    
    #container2-img2{
      display: flex;
      flex-direction:column-reverse;
    }
    .second-page{
      padding-bottom: 60px;
    }
    .second-page
    .container2
    .video-container2{
     max-width: 95%;
     
    }
    .container3{
      display: grid;
      max-width: 40%;
      text-align: center;
      align-items: center;
      margin: 0 auto;
      row-gap: 20px;
    }
    #weighted{
      padding-top: 30px;
    }
    .CONTAINER4{
        display: inline;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      } 
      .container5 img{
         display: none;
      }
      .container5{
        max-width: 100%;
        margin: 0 auto;
      }    
      .footer-part ul{
        display: grid;
        grid-auto-flow: row;
      } 
      .last-nav{
        display: grid;
      }
      .icon{
        display: flex;
        max-width: 100%;
        gap: 60px;
        }
      .page-six button{
       display: grid;
       grid-auto-flow: row ;
       margin: 0 auto;
       
      }
    }
    
    
 